.App {
  text-align: center;
}
h1.main-title{
  color: #e74c3c;
  text-transform: uppercase;
}

ul.main-nav{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 10px 0;
}

ul.main-nav li{
  display: flex;
  list-style: none;
}

ul.main-nav li a{
  display: block;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 3px;
  border:1px solid #fafafa;
  color: #fafafa;
  font-size: 21px;
  text-decoration: none;
  transition: all 0.2s;
}

ul.main-nav li a:hover{
  background-color: #fafafa;
  color: #282c34;
}
ul.main-nav li a.active{
  background-color: #3498db;
  color: #fafafa;
  cursor: default;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
